*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*.agdai
*.aux
*_aux
*.bak
*.bbl
*.blg
*.bin
*.dvi
*.dyn_hi
*.dyn_o
*.fdb_latexmk
*.fls
*.hi
*.log
*.o
*.out
*.ptb
*.snm
*.toc
*.xcp
.DS_Store
slides.pdf
latex/*
